<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить новое структурное подразделение</title>
</head>
<body>
<!--name - название атрибута в модели-->
<form name="org" action="${organization.id} + '/addsu'" method="post">
    <p>Название подразделения</p>
    <input title="Название подразделения" type="text" name="name">
    <p>Электронная почта</p>
    <input title="Электронная почта" type="text" name="email">
    <p>Руководитель int</p>
    <input title="Руководитель" type=number name="manager">
    <p>Организация</p>
    <input title="Организация" type="number" name="organization">
    <p>TODO список сотрудников</p>
    <input type="submit" value="OK">
</form>
<br>
<a th:href="@{ ${organization.id}+'/addsu'}">К списку подразделений</a>

</body>
</html>