<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить структурное подразделение </title>
</head>
<body>
<!--name - название атрибута в модели-->
<form name="#" th:action="@{/organizations/addsu}" th:object="${strUnit}" method="post">


    <p></p>
    <input th:type="hidden" name="id" th:value="*{id}" >
    <input th:type="hidden" name="organization.id" th:value="${organization.id}" >
    <label for="name">Наименование подразделения</label>
    <p></p>
    <input type="text" th:field="*{name}" id= "name" placeholder="Name">
    <p></p>
    <label for="name">Контактные данные</label>
    <p></p>
    <input th:type="text" th:field="*{email}" id="email" placeholder="Email">
    <p></p>

    <input type="submit" value="OK">
</form>
<br>
<a th:href="@{'/organizations/'+${organization.id}}">Назад</a>

</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Создание нового поручения</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;name - название атрибута в модели&ndash;&gt;-->
<!--<form name="assignment" action="/addassignment" method="post">-->
<!--    <p>Заголовок поручения</p>-->
<!--    <input title="Заголовок поручения" type="text" name="headline">-->
<!--    <p>Текст поручения</p>-->
<!--    <input title="Текст поручения" type="text" name="text">-->
<!--    <p>Автор поручения</p>-->
<!--    <input title="Автор поручения" type="number" name="author">-->
<!--    <input type="submit" value="OK">-->
<!--</form>-->
<!--<br>-->
<!--<a href="/all">К списку поручений</a>-->

<!--</body>-->
<!--</html>-->