<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить поручение</title>
</head>
<body>
<form name="#" th:action="@{/organizations/addassignment}" th:object="${assignment}" method="post">
    <input th:type="hidden" name="id" th:value="*{id}" >
    <input th:type="hidden" name="author" th:value="${employee.id}" >
    <input th:type="hidden" name="startAssignment" th:value="${assignment.startAssignment}" >

    <label for="headline">Заголовок поручения</label><p></p>
    <input th:type="text" th:field="*{headline}" id= "headline" placeholder="Заголовок"><p></p>

    <label for="text">Текст поручения</label><p></p>
    <input th:type="text" th:field="*{text}" id="text" placeholder="Текст поручения"><p></p>

    <label for="endAssignment">Срок исполнения</label><p></p>
    <input th:type="datetime-local" th:field="*{endAssignment}" id="endAssignment" placeholder="Срок исполнения"><p></p>

    <input type="submit" value="OK"><p></p>
    <li th:each="employee : ${employee_contractor}">
        <div class="ui checkbox">
            <input type="checkbox" th:field="*{employee_contractor}" th:value="${employee.id}">
            <label th:text="${employee.toString()}"></label>
        </div>

    </li>
    <p></p>
</form>
<br>
<br>
<a th:href="@{'/organizations/employees/'+${employee.id}}">Назад</a>

</body>
</html>