<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все организации</title>
</head>
<body>
<h1>Список организаций</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>Наименование организации</th>
        <th>Физический адрес</th>
        <th>Юридический адрес</th>
        <th>Руководитель</th>
<!--        <th>Сотрудники</th>-->
    </tr>
    <!-- tr- строка td-столбец th-создает заголовок ячейки таблицы.-->
    <tr th:each="organization : ${organizations}">
        <td>
            <a th:href="@{${organization.id}}"th:text="${organization.id}"></a>
        </td>
        <td th:text="${organization.name}"></td>
        <td th:text="${organization.address}"></td>
        <td th:text="${organization.legal_address}"></td>
        <td th:text="${organization?.manager?.first_name}"></td>
<!--        <td th:text="${organization.manager.first_name != null} ? ${organization.manager.first_name} : 'NOT FOUND'"/>-->
<!--        <td th:if="${organization.manager.first_name != null}" th:text="${organization.manager.first_name}">пусто</td>-->
        <td></td>
<!--        <td th:text="${organization.structuralUnits.} "></td>-->
        <td><a th:href="@{'delete/' + ${organization.id}}"th:text="Delete"></a></td>
        <td><a th:href="@{'update/' + ${organization.id}}"th:text="Update"></a></td>

    </tr>
</table>




<br>
<a href="addorg">Добавить организацию</a>

</body>
</html>