<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'ООО &quot;'+${organization.name}+'&quot;'"></h1>
<table>
    <tr>
        <th>id</th>
        <th>Название подразделения</th>
        <th>Электронная почта</th>
    </tr>
    <!-- tr- строка td-столбец th-создает заголовок ячейки таблицы.-->
    <tr th:each="structuralUnit : ${organization.structuralUnits}">
        <td>
            <a th:href="@{'/organizations/strunits/'+${structuralUnit.id}}"th:text="${structuralUnit.id}"></a>
        </td>
        <td th:text="${structuralUnit.name}"></td>
        <td th:text="${structuralUnit.email}"></td>
        <td><a th:href="@{'strunits/delete/' + ${structuralUnit.id}}"th:text="Delete"></a></td>
        <td><a th:href="@{'strunits/update/' + ${structuralUnit.id}}"th:text="Update"></a></td>
    </tr>

</table>
<p></p>
<a th:href="@{ ${organization.id}+'/addsu'}">Добавить структурное подразделение</a>
<!--<a th:href="@{/acceptplayer/{id}(id=${player.firstName})}">Добавить структурное подразделение</a>-->

<br>
<h3>Директор организации</h3>
<h6 th:text="${organization?.manager?.toString()}"></h6>
<a th:href="@{ ${organization.id}+'/addemployee'}">Добавить директора</a>

<a href="/organizations/all">К списку организаций</a>

</body>
</html>