<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
</head>
<body>
<p>
    <em>
        <h1 th:text="${strUnit.name}"></h1>
    </em>
</p>
<p>Список сотрудников</p>
<table>
    <tr>
        <th>id</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Должность</th>
    </tr>
    <!-- tr- строка td-столбец th-создает заголовок ячейки таблицы.-->
    <tr th:each="employee : ${strUnit.employees}">
        <td>
            <a th:href="@{'/organizations/strunits/'+${employee.id}}"th:text="${employee.id}"></a>
        </td>
        <td th:text="${employee.first_name}"></td>
        <td th:text="${employee.last_name}"></td>
        <td th:text="${employee.middle_name}"></td>
        <td th:text="${employee.position}"></td>
        <td><a th:href="@{'strunits/delete/' + ${employee.id}}"th:text="Delete"></a></td>
        <td><a th:href="@{'strunits/update/' + ${employee.id}}"th:text="Update"></a></td>
    </tr>

</table>
<p></p>
<a th:href="@{ ${strUnit.id}+'/addemployee'}">Добавить нового сотрудника</a><br><br>
<!--<a th:href="@{/acceptplayer/{id}(id=${player.firstName})}">Добавить структурное подразделение</a>-->
<a th:href="@{'/organizations/'+ ${strUnit.organization.id}}">Назад</a>

</body>
</html>