<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${employee.toString()}"></title>
</head>
<body>
<p>
    <em>
        <h1 th:text="${employee.last_name}+ ' ' + ${employee.first_name}"></h1>
    </em>
</p>
<p>Список моих поручений</p>

<table>
    <tr>
        <th>id</th>
        <th>Тема поручения</th>
        <th>Текст</th>
    </tr>
<!--     tr- строка td-столбец th-создает заголовок ячейки таблицы.-->
    <tr th:each=" assignment : ${employee.author_of_assignments}">
        <td>
            <a th:href="@{'/organizations/assignment/'+${assignment.id}}"th:text="${assignment.id}"></a>
        </td>
        <td th:text="${assignment.headline}"></td>
        <td th:text="${assignment.text}"></td>
        <td><a th:href="@{'/organizations/assignment/' + ${employee.id}}"th:text="Delete"></a></td>
        <td><a th:href="@{'/organizations/assignment/' + ${employee.id}}"th:text="Update"></a></td>
    </tr>

</table>
<a th:href="${employee.id}+'/addassignment'">Создать новое поручение</a>
<p>Список поручений мне</p>
<p></p>

</body>
</html>