<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование организации</title>
</head>
<body>

<form name="organization" action="/addorg" method="post">
    <p>Название организации</p>
    <input title="Название организации" type="text" name="name">
    <p>Физический адрес</p>
    <input title="Физический адрес" type="text" name="address">
    <p>Юридический адрес</p>
    <input title="Юридический адрес" type="text" name="legal_address">
    <input type="submit" value="OK">
</form>

</body>
</html>