<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user page</title>
</head>
<body>

<form name="assignment" action="/update" method="post">
    <p>Заголовок поручения</p>
    <input type="hidden" th:field="${assignment.id}" />
    <input title="Заголовок поручения" type="text" name="headline" >
    <p>Текст поручения</p>
    <input title="Текст поручения" type="text" name="text"  >
    <input type="submit" value="OK">
</form>
<!--th:value="${assign.headline}"-->
<!--th:value ="${assignment.text}"-->

</body>
</html>
